.my-computer {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 700px;
    height: 600px;
    background: white;
    border-left:2px solid #001ea0;
    border-right:2px solid#001ea0;
    border-bottom:2px solid#001ea0;
    border-radius: 10px;
    font-family: tahoma;
    font-weight: 200;
    z-index: 50;
    cursor: default;
}


.header-logo-container{
    display: flex;
    align-items: center;

}

.header-line {
    width: 98%;
    height: 3px;
    background: radial-gradient(rgb(71, 163, 255), rgba(255, 255, 255, 0.074));
    position: absolute;
    top: 0;
}

.my-computer-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    text-shadow: 0 2px 3px rgb(0, 0, 105);

}

.my-computer-buttons{
    display: flex;
    justify-content: center;
}

.my-computer-buttons button {
    position: relative;
  z-index: 10;
    margin-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 1px solid rgb(220, 229, 255);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    overflow: none;
    border-radius: 5px;
}

.my-computer-buttons button:first-child{
     background: linear-gradient(to top, rgb(15, 71, 150),  rgb(35, 123, 246), rgb(95, 146, 246));
     padding-top: 10px;
     padding-bottom: 4px;
     padding-right: 10px;
     font-size: 27px;
}

.my-computer-buttons button:nth-child(2){
    padding-bottom: 4px;
    line-height: 9px;
    font-size: 19px;
    background: linear-gradient(to top, rgb(15, 85, 150),  rgb(35, 102, 246), rgb(95, 146, 246));
}

.my-computer-buttons button:nth-child(3){
    font-size: 30px;
    background: linear-gradient(to top, rgb(199, 31, 31),  rgb(201, 70, 70), rgb(230, 163, 163));
}


.my-computer-content{
    background: white;
   
}

.my-computer-little-pic {
    width: 25px;
    height: 22px;
    padding-right: 2px;
    overflow: hidden;
}