.messages-container {
    width: 350px;
    height: 100%;
    
}

.messages {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 60%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid navy;
}

.chat-box-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid navy;
    background-color: rgb(233, 233, 250);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 14px;
    padding-left: 10px;
    height: 30px;
}

.chat-box-header p:nth-child(2) {
    margin-left: 10px;
    font-size: 12px;
}

.input-bar-container {
    border: 1px solid navy;
    height: 140px;
    margin-top: 10px;
    border-radius: 7px;
    object-fit: contain;
    overflow: hidden;
}


.input-bar-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(to top, rgb(206, 206, 242), white, rgb(206, 206, 242));
    position:relative;
    width: 100%;
    height: 22px;
    border-bottom: 1px solid navy;
    border-top-left-radius: 7px;
    border-top-right-radius: 15px;
}

.input-bar-options img {
    width: 37px;
    height: auto;
    margin: 1px 2px 0 9px;
        
}

.input-bar-options img:first-child{
    width: 22px;
}

.input-bar-options button:nth-child(3){
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 70px;
    font-size: 11px;
    font-family: tahoma;
    padding: 0;
    background: none;
    border: none;
}

.input-bar-options button:nth-child(3) img {
    margin-right: 2px;
    
}

.input-bar-options button:nth-child(3) p {
    white-space: nowrap;
}

.input-bar {
    display: flex;
    flex-direction: row;
}

.input-bar input {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: white;
    border: none;
}

.send-btn button {
    display: flex;
    border: 2px solid rgb(179, 194, 199);
    border-radius: 5px;
    padding: 20px 9px 20px 9px;
    background: linear-gradient(160deg, white, white, rgb(178, 198, 218));
    height: 30px;
    align-items: center;
    font-family: tahoma;
    color: rgb(73, 79, 95);
    font-weight: bold;
    font-size: 12px;
    margin: 5px;
}

.send-btn {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-warning {
   margin: 5px;
   width: 100%;
}

.chat-warning p {
    font-size: 14px;
    font-family: 'tahoma';
}

.chat-warning p img {
    margin-right: 2px;
    width: 18px;
    
}

.bottom-option-input-container{
    position: relative;
    bottom: 10px;
    border-top: 1px solid navy;
    width: 100%;
    height: 40px;
    background: linear-gradient(to top, rgb(221, 229, 255), white, rgb(221, 229, 255));
}

.bottom-option-input-container{
    display: flex;
    justify-content: flex-end;
}

.bottom-option-icons {
    display: flex;
    flex-direction: row;
    
    margin-right: 10px;
}

.bottom-option-icons button {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 30px;
    height: 23px;
    border: 1px solid gray;
    overflow: hidden;
    background: rgb(230, 241, 255);
}

.bottom-option-icons button:active {
    background-color: white;
}

.bottom-option-icons button img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;
}