.msn-names-container {
    position: absolute;
    width: 90%;
    left: 10%;
    height: 45%;
    overflow-y: scroll;
    border: 2px solid rgb(194, 206, 215);
}

.msn-names-container ul li {
    font-family: 'Segoe UI', Tahoma;
    font-weight: 400;
    padding: 2px;
}

.msn-names-master {
    display: flex;
}

.bottom-left-border {
    position: absolute;
    height: 60%;
    border-right: 1px solid rgb(150, 162, 223);
    width: 35px;
    background: rgb(229, 236, 249);
    box-shadow: 4px 0px 10px rgba(115, 145, 187, 0.677);
}
.msn-names-container::-webkit-scrollbar-track {
    z-index: 3;
    background: linear-gradient(to right, rgb(223, 231, 254), white); 
}

.msn-names-container::-webkit-scrollbar-thumb  {
    background: linear-gradient(to right, rgb(209, 223, 247), rgb(223, 238, 249)) !important;
    border: 1px solid rgb(30, 70, 135); 

}

.msn-names-container::-webkit-scrollbar-button:single-button:vertical:decrement {
    background: url('/Images/msn_top_scroll.png') no-repeat center center;
    background-size: contain;   
    border: 1px solid rgb(30, 70, 135);
}

.msn-names-container::-webkit-scrollbar-button:single-button:vertical:increment {
    background: url('/Images/msn_bottom_scroll.png') no-repeat center center;
    background-size: contain;   
    border: 1px solid rgb(30, 70, 135);
}