.msn-first-nav {
    background-color: rgb(250, 250, 230);
}

.msn-first-nav ul {
    display: flex;
    cursor: default;
}

.msn-first-nav ul li > p {
    margin: 0;
}

.msn-logo{
    margin-top: 5px;
    width: 60px;
    height: 25px;
}

.msn-second-nav {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, 
            rgb(181, 207, 237) 2%, 
            rgb(255, 255, 255) 20%, 
            white 75%, 
            rgb(167, 205, 238) 100%,
            rgb(243, 246, 249)
            );
    border-top: 2px solid white;
    outline: 1px solid rgb(141, 180, 246);
    border-radius: 5px;

}
.messenger-title {
    font-size: 0.7em;
    font-weight: bold;
    margin-left: 10px;
    color: rgb(1, 1, 81);
}

.msn-display-pic {
    border-radius: 15px;
    border: 1px solid rgb(31, 56, 115);
    margin: 5px;
    width: 70px;
}

.msn-envelope {
    width: 30px;
}

.first-row {
    display: flex;
    flex-direction: row;
}

.second-row {
    display: flex;
    
    line-height: 0;
}

.name-and-status{
    margin-top: 10px;
    display: flex;
    
}
.dropdown-status {
    position: relative;
    top: -5px;
}

.down-up-btn {
    background: none;
    border: none;
}

.down-up-btn img {
    width: 20px;
}

.info-container p:last-of-type {
    margin-top: 2px;
    font-size: 0.8em;
    color: gray;
    display: flex;
    align-items: center;
    
}

.info-container p:last-of-type p{
    font-size: 1em;
    margin-left: 5px;
    color: black;
    
}


.name-and-status {
    display: flex;
    align-items: center;
    
}

.name-and-status p:first-child {
    color: black;
    font-family: 'Candara';
    font-weight: bold;
    font-size: 14px;
}

.dropdown-status {
    display: flex;

}

.drop-btn{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: gray;
    
}

.drop-btn p {
    font-size: small;
    margin: 5px;
    color: black;
}

.dropdown-content {
  position: absolute;
  top: 100%;     /* directly below the button */
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  min-width: 120px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.dropdown-content a {
  padding: 6px 10px;
  text-decoration: none;
  color: rgb(4, 7, 22);
  font-size: 14px;
  cursor: pointer;
  margin: 2px;
}

.dropdown-content a:hover {
    background: rgb(56, 101, 247);
    color: white;
}
