body{
    margin: 0;
    box-sizing: border-box;
}

.footer-gradient {
    position: relative;
    position: fixed;
    bottom: 24px;
    width: 100%;
    height: 6px;
    background: linear-gradient(to top, rgba(196, 207, 255, 0.168), rgba(169, 169, 255, 0.344));
    z-index: 2;
    border-top: 1px solid blue;
}

.footer{
    position: fixed;
    display: flex;
    bottom: 0%;
    margin: 0;
    width: 100%;
    height: 30px;
    background: linear-gradient(to left, rgb(39, 39, 255), rgb(71, 71, 255));
    z-index: 1;
   
}

.time-container{
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    width: 130px;
    height: 100%;
    background: linear-gradient(40deg, rgba(190, 226, 255, 0.378), rgb(39, 129, 255));
    border-left: 1px solid rgb(133, 196, 255);

}

.tiny-icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 10px;
    padding: 10px;
    
}

.tiny-icons-container img {
    width: 20px;
    margin-right: 10px;
}

.tiny-img-container{
    display: flex;
    margin: 7px;
}

.tiny-img-container img {
    padding: 5px;
    
}

.footer-right-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 122px;
    border-radius: 50px;
    padding: 1px;
    color: white;
    background: linear-gradient(290deg, rgb(30, 93, 255), rgb(190, 189, 249));
    border-left: 2px solid rgb(61, 111, 213);
    border-top: 2px solid rgb(102, 135, 202);
    border-right: 1px solid rgba(192, 214, 255, 0.571);
    border-bottom: 2px solid rgb(102, 135, 202);
    z-index: 3;
}


.start-btn{
    position: relative;
    display: flex;
    background: radial-gradient(circle at center, rgb(138, 241, 115), rgb(62, 166, 62), rgb(0, 97, 0));
    height: 100%;
    line-height: 1;
    padding: 4px;
    padding-right: 25px;
    border: 1px solid rgba(0, 65, 0, 0.579);
    color: white;
    text-align: center;
    text-shadow: 1px 2px 4px rgb(5, 20, 0);
    letter-spacing: 1px;
    font-family: tahoma;
    font-size: 1.3em;
    font-style: italic;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 12px;
    z-index: 6;
}

.start-btn:hover{
    background: radial-gradient(circle at center, rgb(145, 243, 123), rgb(70, 172, 70), rgb(2, 128, 2));
}


.win-logo{
    width: 25px;
    height: 18px;
    align-items: center;
    padding: 1px;
}

.start-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    bottom: 100%;
    left: 0;
    background: white;
    font-family: tahoma;
    font-size: 0.8em;
    line-height: 0;
    width: 430px;
    height: 520px;
    z-index: 100;
    box-shadow: 5px 5px 5px rgb(0, 49, 114);
}

.row-top{
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(0, 0, 167);
    background: radial-gradient(circle, rgb(63, 63, 255), rgb(47, 126, 230));
    color: white;
    font-size: 18px;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 60px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 2;
}

.top-row-gradient {
    position: absolute;
    top: 0;
    width: 100%;
    height: 6px;
    background: radial-gradient(circle at center, rgba(226, 229, 255, 0.225), rgba(0, 0, 255, 0.004));
    z-index: 3;
}

.yellow-underline{
    position: absolute;
    top: 11%;
    width: 100%;
    height: 6px;
    background: radial-gradient(circle at center, orange, rgba(255, 255, 255, 0.303));
    z-index: 1;
}

.login-pic{
    width: 45px;
    height: 45px;
    border: 2px solid white;
}

.userInfo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.both-cols{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: rgb(0, 0, 42);
    height: 100%;
}

.col-one{
    background: white;
    padding: 0px 10px;
    border-right: 1px solid #d0d0d0;
    line-height: 0;
}

.col-two{
  background: linear-gradient(to bottom, #dbeeff, #c6e6ff);
  padding: 12px;
  font-size: 13px;
}

.col-two ul:first-of-type{
    font-weight: bold;
}

.col-two ul {
    line-height: 1;
}

.top-icon-text p:first-child{
    font-weight: bold;
    line-height: 0;
}

.top-icon-text p:nth-child(2){
    color: gray;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: flex;
    align-items: center;
    gap: 10px; 
    padding: 4px;
    font-family: tahoma;
    font-size: 12px;
    cursor: default;
}

ul li:hover {
  background-color: #0c79ff;
  color: white;
}

.item-box{
    display: flex;
    align-items: center;
}

.cmd-pt {
    margin-bottom: 50px;
}

.divider{
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 2px;
    background: radial-gradient(circle at center, rgb(174, 174, 174), rgba(225, 225, 225, 0.408));
    margin-bottom: 2px;
}

.divider:nth-of-type(2){
    margin: 0 !important;
    padding: 0 !important;
}



.menu-icons{
    width: 37px;
    height: 32px;
    padding-right: 5px;
}

.menu-icons-two {
  width: 30px;
  height: 27px;
}

.log-icons{
    width: 30px;
    height: 30px;
}

.off-buttons-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.green-arrow{
    width: 25px !important;
    height: 25px !important;
    margin-left: 5px;
}

.row-bottom{
    display: flex;
    justify-content: flex-end;
    background: radial-gradient(circle, rgb(63, 63, 255), rgb(47, 126, 230));
    color: white;
    text-align: end;
    height: 45px;
}

.off-buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-top: 1px solid rgb(2, 2, 95);
}

.off-buttons-container p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}


.log-off{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}


.shut-down{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.shut-down-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 4px;
    width: 30px;
    height: 30px;
}
.shut-down img {
    width: 33px;
    height: 33px;
    object-fit: cover;
}

.all-programs-container{
    width: 100%;
}

.all-programs{
 display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 2px;
  cursor: default;
}

.all-programs-container:hover {
    background-color: #0c79ff;
}

.all-programs p {
    padding-right: 10px;
}

.all-programs img {
    width: 25px;
    height: 25px;
    margin: 0;
    margin-right: 10px;
}

.programs-menu {
    position: absolute;
    left: 160px;
    bottom: 2px;
    display: none;
    flex-direction: column;
    outline: 1px solid rgb(51, 133, 255);
    border-left: 5px solid rgb(3, 83, 255);
    background: white;
    font-family: tahoma;
    font-size: 0.8em;
    line-height: 0;
    min-width: 210px;
    width: 210px;
    height: 300px;
    box-shadow: 4px 2px 11px 5px rgba(0, 20, 75, 0.534);
    z-index: 400;
}

.all-programs-container:hover .programs-menu {
  display: flex;
}


.accessories-menu {
    display: none;
    position: absolute;
    background-color: white;
    width: 200px;
    height: 360px;
    left: 205px;
    bottom: 218px;
    outline: 1px solid rgb(51, 133, 255);
    border-left: 5px solid rgb(3, 83, 255);
    box-shadow: 4px 2px 11px 5px rgba(0, 20, 75, 0.534);
    z-index: 500;
    color: black;
}

.accessories-btn:hover .accessories-menu,
.accessories-menu:hover {
    display: block;
}

.games-menu {
    display: none;
    position: absolute;
    background-color: white;
     width: 200px;
    height: 265px;
    left: 205px;
    bottom: 195px;
    outline: 1px solid rgb(51, 133, 255);
    border-left: 5px solid rgb(3, 83, 255);
    box-shadow: 4px 2px 11px 5px rgba(0, 20, 75, 0.534);
    z-index: 500;
    line-height: 1.5;
    color: black;
}

.games-btn:hover .games-menu,
.games-menu:hover {
    display: block;
}

.microsoft-menu {
    display: none;
    position: absolute;
    background-color: white;
     width: 240px;
    height: 240px;
    left: 205px;
    bottom: 170px;
    outline: 1px solid rgb(51, 133, 255);
    border-left: 5px solid rgb(3, 83, 255);
    box-shadow: 4px 2px 11px 5px rgba(0, 20, 75, 0.534);
    z-index: 500;
    line-height: 1.5;
    color: black;
}

.microsoft-btn:hover .microsoft-menu, 
.microsoft-menu:hover {
    display: block;
}


.programs-menu-top ul li {
    padding: 2px;
    cursor: default;
}

.programs-menu-bottom {
    margin-top: 10px;
}

.programs-menu-bottom ul li {
    padding: 2px;
    cursor: default;
}

.programs-divide-line-container{
    display: flex;
    justify-content: center;
}

.programs-divide-line {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80%;
    height: 2px;
    background: radial-gradient(rgb(170, 170, 170), rgba(255, 255, 255, 0.945));
}



.programs-images {
    display: inline-block;
    width: 20px;
    height: 20px;
}



.all-programs-container {
  position: relative;
  display: inline-block;
}


.footer-pages-container {
    display: flex;
    gap: 4px;
}

.footer-page {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    background: rgb(70, 120, 255);
    position: relative;
    height: 100%;
    font-size: 12px;
    color: white;
    border-radius: 3px;
    border: 1px solid rgb(83, 129, 255);
    font-family: tahoma;
    cursor: default;
     min-width: 120px;
    padding: 0 12px;
}

.footer-page img {
    width: 30px;
    height: 30px;
}

.footer-page:hover{
    background: rgb(96, 138, 253);
}

.footer-page.active{
    background: rgb(47, 72, 184);
    border: 1px solid rgb(38, 63, 175);
}

.footer-page.active:hover {
    background: rgb(64, 89, 197);
}

.programs-further-nav {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.programs-further-nav p {
    font-size: 20px;
    font-family: Impact;
    margin: 0;
    padding-right: 1px;
}


.access-menu {
    position: absolute;
    background-color: white;
    width: 80px;
    height: 20px;
    left: 195px;
    bottom: 340px; 
    display: none;
    outline: 1px solid rgb(51, 133, 255);
    border-left: 5px solid rgb(3, 83, 255);
    box-shadow: 4px 2px 11px 5px rgba(0, 20, 75, 0.534);
    z-index: 500;
}

.access-menu ul {
    position: absolute;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

}

.access-menu ul li {
    margin-left: 10px;
    color: rgb(66, 66, 66);
}

.accessibility-btn:hover + .access-menu,
.access-menu:hover {
  display: block;
}

.ent-menu {
    position: absolute;
    background-color: white;
    width: 80px;
    height: 20px;
    left: 195px;
    bottom: 290px; 
    display: none;
    outline: 1px solid rgb(51, 133, 255);
    border-left: 5px solid rgb(3, 83, 255);
    box-shadow: 4px 2px 11px 5px rgba(0, 20, 75, 0.534);
    z-index: 500;

}

.ent-menu ul {
    position: absolute;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

}

.ent-menu ul li {
    margin-left: 10px;
    color: rgb(66, 66, 66);
}


.system-menu {
    position: absolute;
    background-color: white;
    width: 80px;
    height: 20px;
    left: 195px;
    bottom: 265px; 
    display: none;
    outline: 1px solid rgb(51, 133, 255);
    border-left: 5px solid rgb(3, 83, 255);
    box-shadow: 4px 2px 11px 5px rgba(0, 20, 75, 0.534);
    z-index: 500;

}

.system-menu ul {
    position: absolute;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

}

.system-menu ul li {
    margin-left: 10px;
    color: rgb(66, 66, 66);
}


.comm-menu {
    position: absolute;
    background-color: white;
    width: 80px;
    height: 20px;
    left: 195px;
    bottom: 314px; 
    display: none;
    outline: 1px solid rgb(51, 133, 255);
    border-left: 5px solid rgb(3, 83, 255);
    box-shadow: 4px 2px 11px 5px rgba(0, 20, 75, 0.534);
    z-index: 500;

}

.comm-menu ul {
    position: absolute;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

}

.comm-menu ul li {
    margin-left: 10px;
    color: rgb(66, 66, 66);
}

.accessibility-btn:hover + .access-menu,
.access-menu:hover {
  display: block;
}

.comm-btn:hover + .comm-menu,
.comm-menu:hover {
  display: block;
}

.ent-btn:hover + .ent-menu,
.ent-menu:hover {
  display: block;
}

.system-btn:hover + .system-menu,
.system-menu:hover {
  display: block;
}

.footer-page.flash {
    animation: flash-bg 1s infinite;
}

@keyframes flash-bg {
    0% {background: rgb(70, 120, 255);}
    50% {background: orange; }
    100% {background: rgb(70, 120, 255);}
}

.pro-img-container{
    width: 20px;
    
}

.pro-img-container img {
    width: 18px;
    height: 18px;
}

.pro-img-container-media{
    width: 20px;
}

.pro-img-container-media img{
    width: 25px;
}

.programs-images-mic{
    width: 20px;
}

.mic-container {
    display: flex;
    width: 15px;
}

.mic-container img {
    width: 18px;
}

.mic-container:first-child img {
    width: 20px;
}