.calculator-window {
    position: absolute;
    top: 300px;
    left: 90vh;
    width: 320px;
    height: 310px;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
}

.calculator-nav {
    background: #ece9d8;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid white;
}

.calculator-nav ul {
    display: flex;
    flex-direction: row;
}

.calculator-nav p {
    padding: 2px;
    margin: 0;
}

.calculator-body {
  left: 0;
  right: 0;
  bottom: 0;
  height: 90%;
  background: #ece9d8;
  color: black;
  z-index: 11;
}

.calc-title {
    display: flex;
    align-items: center;
}

