.page-content {
    font-family: tahoma;
}

.my-computer-first-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: tahoma;
    font-size: 0.7em;
    background: rgb(239, 239, 227);
    border-bottom: 2px solid rgb(219, 219, 196);
    z-index: 30;
}
.my-computer-first-nav span {
    border-left: 2px solid rgb(204, 204, 181);
}

.my-computer-first-nav a {
    margin-left: 10px;
}

.my-computer-second-nav{
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 40px;
    border-top: 2px solid white;
    background: rgb(239, 239, 227);
}

.my-computer-second-nav span {
    display: flex;
    align-items: center;
    font-size: 7px;
    color: gray;
}

.my-computer-second-nav button {
    display: flex;
    justify-content: center;
    width: 70px;
    border: none;
    background: none;
    font-size: 0.67em;
    padding: 2px;
}

.my-computer-second-nav button:hover{
    outline: 1px solid rgb(219, 219, 196);
    border-radius: 3px;
}


.my-computer-second-nav button:nth-child(4),
.my-computer-second-nav button:nth-child(6) {
    border-right: 2px solid rgb(204, 204, 181);   
}

.my-computer-second-nav button:nth-child(4) img {
    width: 25px;
    height: 25px;
    margin-right: 3px;
}

.my-computer-second-nav button:nth-child(5) img {
    width: 25px;
    height: 25px;
    margin-right: 3px;
}

.my-computer-second-nav button:nth-child(6){
    margin-left: 16px;
    padding-right: 15px;
}

.my-computer-second-nav button:nth-child(6) img{
    width: 80px;
    height: 35px;
    
}

.my-computer-second-nav button:nth-child(7) img{
    width: 40px;
}

.dropdown-container{
    display: flex;
    flex-direction: row;
    background: rgb(239, 239, 227);
    font-size: 0.7em;
    border-top: 1px solid rgb(211, 211, 191);
    padding-top: 2px;
    border-bottom: 1px solid gray; 
   
}

.dropdown-container p:first-of-type {
    margin: 2px;
}

.dropdown-container button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    margin-left:9px;
}


.dropdown {
    display: flex;
    width: 100%; 
}

.dropdown button {
    display: flex;
    border: 1px solid rgb(120, 163, 230);
    width: 590px;
    background: white;
    height: 22px;
}

.dropdown div {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
}

.mini-computer{
    width: 19px;
    padding: 1px;
}

.dropdown button span {
    background-image: url('/Images/scrollbar-down-arrow.png');
    background-size: cover;
    background-position: center;
    width: 18px;
    height: 16px;
    
}

.go-btn-container {
    position: relative;
    top:0;
    padding: 0;
    height: 20px;
    right: 10px;
    display: flex;
    align-items: center;
}

.go {
    background: none;
    border: none;
    font-size: 12px;
}

.go img {
    position: relative;
    left: 5px;
}



.page-content {
    display: flex;
    background: white;
}

.mini-control-panel {
    width: 19px;
}

.left-category {
    height: 450px;
    background: linear-gradient(to top, rgb(94, 116, 224), rgb(155, 189, 255));
    padding: 10px;
}

.sub-cat {
    background: rgb(206, 220, 247);
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    
}

.sub-cat ul li {
    font-size: 0.70em;
    margin-right: 20px;
    color: rgb(69, 85, 206);
    padding: 2px;
    padding-left: 1px;
   
}

.sub-cat ul li img {
    margin-left: 2px;
}

.left-boxes p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, white, rgb(240, 242, 251), rgb(205, 215, 255));
    padding: 2px;
    font-size: 0.7em;
    color: rgb(82, 100, 195);
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0;
    padding-left: 10px;
    padding-top: 5px;
}

.left-boxes p img {
    border-radius: 50%;
    box-shadow: 4px 4px 10px rgba(37, 74, 118, 0.337);
}


.details ul li {
    color: black;
    padding: 0;
    padding-left: 5px;
}

.details ul li:first-child{
    padding-top: 10px;
    font-weight: bold;
}

.details ul li:last-child{
    padding-bottom: 5px;
}

.right-category div p {
    font-weight: bold;
    margin: 1px;
    margin-left: 10px;
    margin-top: 15px;
}


.files-stored-container{
    display: flex;
}

.files-stored {
    font-size: 12px;
}

.files-stored a {
    display: flex;
    align-items: center;
    margin: 15px;
}

.deco-line {
    width: 300px;
    height: 2px;
    background: linear-gradient(to right, rgb(75, 150, 255), rgb(121, 177, 255), white)
}

.hard-disk-drives {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.hard-disk-container {
    margin: 15px;
}

.hard-disk-container a {
    align-items: center;
}

.removable-storage-container a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
    
}

.removable-storage {
    font-size: 12px;
    
}

.folder {
    background: none;
    border: none;
}

.nostalgia-folder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
}

