.msn {
    position: absolute;
    top: 100px;
    left: 1%;
    width: 350px;
    height: 600px;
    background: white;
    border-right: 2px solid rgba(0, 61, 215, 1);
    border-left: 2px solid rgba(0, 61, 215, 1);
    border-bottom: 2px solid rgba(0, 61, 215, 1);
    border-radius: 10px;
    font-family: tahoma;
    font-weight: 200;
    z-index: 60;
}

.header-line {
    width: 98%;
    height: 5px;
    background: radial-gradient(rgb(71, 163, 255), rgba(255, 255, 255, 0.074));
    position: absolute;
    top: 0;
}

.header-logo-container{
    display: flex;
    align-items: center;
}

.msn-little-pic {
    width: 23px;
    height: 20px;
    padding-right: 2px;
    overflow: hidden;
    margin-right: 5px;

}


.msn-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    text-shadow: 0 2px 3px rgb(0, 0, 105);
}

